<?xml version="1.0"?>
<config>
    <modules>
        <Okitcom_OkLibMagento>
            <version>0.1.0</version>
        </Okitcom_OkLibMagento>
    </modules>
    <global>
        <helpers>
            <oklibmagento>
                <class>Okitcom_OkLibMagento_Helper</class>
            </oklibmagento>
        </helpers>
        <models>
            <oklibmagento>
                <class>Okitcom_OkLibMagento_Model</class>
                <resourceModel>oklibmagento_resource</resourceModel>
            </oklibmagento>
            <oklibmagento_resource>
                <class>Okitcom_OkLibMagento_Model_Resource</class>
                <entities>
                    <checkout>
                        <table>oklib_checkout</table>
                    </checkout>
                    <authorization>
                        <table>oklib_authorization</table>
                    </authorization>
                </entities>
            </oklibmagento_resource>
        </models>
        <blocks>
            <oklibmagento>
                <class>Okitcom_OkLibMagento_Block</class>
            </oklibmagento>
        </blocks>
        <resources>
            <oklibmagento_setup>
                <setup>
                    <module>Okitcom_OkLibMagento</module>
                    <class>Okitcom_OkLibMagento_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oklibmagento_setup>
            <oklibmagento_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oklibmagento_write>
            <oklibmagento_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oklibmagento_read>
            <customer1519922407_setup>
                <setup>
                    <module>Okitcom_OkLibMagento</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customer1519922407_setup>
            <customer1519922407_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customer1519922407_write>
            <customer1519922407_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customer1519922407_read>
        </resources>
        <sales>
            <quote>
                <totals>
                    <oklibmagento>
                        <class>oklibmagento/checkout_quote_address_discount</class>
                        <after>subtotal,shipping,tax</after>
                        <admin_renderer>oklibmagento/checkout_discount</admin_renderer>
                    </oklibmagento>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <oklibmagento>
                        <class>oklibmagento/order_invoice_total_discount</class>
                        <after>subtotal,shipping,tax</after>
                        <admin_renderer>oklibmagento/checkout_discount</admin_renderer>
                    </oklibmagento>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <oklibmagento>
                        <class>oklibmagento/order_creditmemo_total_discount</class>
                        <after>subtotal,shipping,tax</after>
                        <admin_renderer>oklibmagento/checkout_discount</admin_renderer>
                    </oklibmagento>
                </totals>
            </order_creditmemo>
        </sales>
    </global>

    <default>
        <payment>
            <okcash>
                <active>1</active>
                <model>oklibmagento/okcash</model>
                <order_status>processing</order_status>
                <title>OK</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </okcash>
        </payment>
        <okcheckout>
            <general>
                <environment>secure</environment>
            </general>
        </okcheckout>
    </default>

    <frontend>
        <routers>
            <okitcom>
                <use>standard</use>
                <args>
                    <module>Okitcom_OkLibMagento</module>
                    <frontName>oklib</frontName>
                </args>
            </okitcom>
        </routers>
        <translate>
            <modules>
                <Okitcom_OkLibMagento>
                    <files>
                        <default>Okitcom_OkLibMagento.csv</default>
                    </files>
                </Okitcom_OkLibMagento>
            </modules>
        </translate>
        <layout>
            <updates>
                <oklibmagento>
                    <file>oklibmagento.xml</file>
                </oklibmagento>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <oklibmagento>
                    <file>oklibmagento.xml</file>
                </oklibmagento>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <oklibmagento_checkout_status>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>oklibmagento/observer::updateStatus</model></run>
            </oklibmagento_checkout_status>
        </jobs>
    </crontab>
</config> 